
$theme-colors: (
  "primary": #acb3b3,
  "muted":#bac2ca ,
  
);

$heading1:#fff;
$body-font-size:1.5em;
$logo-size:2em;
$body-bg:#fff;
$general-text:'Ubuntu', sans-serif;
$general-text-color:#859797;
$crowd-asssemble-logo:rgb(119, 109, 109);
$logo:rgb(247, 242, 242);
$crowd-assemeble-font:'Libre Barcode 39 Text', cursive;
$headings:'Padauk', sans-serif;
$min-widths: 600px;
$max-widths: 800px;

@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text|Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Padauk');
@import "~bootstrap/scss/bootstrap";

.logo{
  font-family:$crowd-assemeble-font;
  font-size:$logo-size;
  color:$logo;
}
.heading{
  font-family:$crowd-assemeble-font;
  font-size: $logo-size;
  color: $crowd-asssemble-logo;
}

.jumbotron {
  background-color:rgb(72, 81, 214); 
  
}

.general-text{
  color:$crowd-asssemble-logo;
  font-family: $body-font-size;
}
.card-body{
  background: #f7f8fa;
}

.dark-table{
  background-color:rgb(72, 81, 214);

}

@mixin min{
  @media (min-width: #{$min-widths}) and (max-width: #{$max-widths- 1px}) {
    @content;
    word-wrap: break-word;
  }
}

@mixin max {
  @media (min-width: #{$max-widths}) {
    @content;
    word-wrap: break-word;
  }
}