$heading1:#fff;
$body-font-size:16px;
$logo-size:2em;
$body-bg:#fff;
$general-text:'Ubuntu', sans-serif;
$general-text-color:#859797;
$crowd-asssemble-logo:rgb(119, 109, 109);
$logo:rgb(247, 242, 242);
$crowd-assemeble-font:'Libre Barcode 39 Text', cursive;
$headings:'Padauk', sans-serif;
$min-widths: 600px;
$max-widths: 800px;
$categories:'Righteous', cursive;