@import 'src/pages/index/variables.scss';

$theme-colors: (
  "primary": #acb3b3,
  "muted":#bac2ca
);

@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text|Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Padauk');
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Righteous');

.logo{
  font-family:$crowd-assemeble-font;
  font-size: $logo-size;
  color: $logo;
}

.heading {
  font-family:$crowd-assemeble-font;
  font-size: $logo-size;
  color: $crowd-asssemble-logo;
}

.categories{
  font-family: $categories;
  font-size: $logo-size;
  color: blue;
}

.jumbotron {
  background-color:rgb(72, 81, 214); 
  
}

.general-text {
  color: $crowd-asssemble-logo;
  font-family: $body-font-size;
}
.card-body{
  background: #f7f8fa;
}

.dark-table{
  background-color:rgb(72, 81, 214);
}

.col-sm-4 {border:1px rgb(95, 92, 92);}

.height-of-card{height:200px;}

.height-of-card-when-expanded{height:500px}

.height-of-card-expanded-full{height:2800px}

.pagination {
  float: left;
}

@mixin min {
  @media (min-width: #{$min-widths}) and (max-width: #{$max-widths- 1px}) {
    @content;
    word-wrap: break-word;
  }
}

@mixin max {
  @media (min-width: #{$max-widths}) {
    @content;
    word-wrap: break-word;
  }
}

@media (min-width:768px) {
  .inline-block-row {
      word-spacing: -1em;
      letter-spacing: -1em;
      overflow:hidden;
  }

  .inline-block-row .col-sm-4 {
      word-spacing: normal;
      vertical-align: top;
      letter-spacing: normal;
      display: inline-block;
      float:none;
  }
}

@media (min-width:992px) {
  .inline-block-row .col-md-3 {
      float: none;
  }
}
