
$theme-colors: (
  "primary": #acb3b3,
  "muted":#bac2ca ,
  
);

$heading1:#fff;
$body-font-size:1.5em;
$logo-size:2em;
$body-bg:#fff;
$general-text:'Ubuntu', sans-serif;
$general-text-color:#859797;
$crowd-asssemble-logo:rgb(119, 109, 109);
$logo:rgb(247, 242, 242);
$crowd-assemeble-font:'Libre Barcode 39 Text', cursive;
$headings:'Padauk', sans-serif;
$min-widths: 600px;
$max-widths: 800px;
$categories:'Righteous', cursive;

@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text|Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Padauk');
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Righteous');

.logo{
  font-family:$crowd-assemeble-font;
  font-size:$logo-size;
  color:$logo;
}
.heading{
  font-family:$crowd-assemeble-font;
  font-size: $logo-size;
  color: $crowd-asssemble-logo;
}

.categories{
  font-family: $categories;
  font-size: $logo-size;
  color:blue;
}


.jumbotron {
  background-color:rgb(72, 81, 214); 
  
}

.general-text{
  color:$crowd-asssemble-logo;
  font-family: $body-font-size;
}

.card-body{
  background: #f7f8fa;
}

.no-border{
  border-width: 0;
}

.dark-table{
  background-color:rgb(72, 81, 214);

}

.col-sm-4 {border:1px rgb(95, 92, 92);}
.well {height:200px;}
.height1 {height:500px}
.height2 {height:2800px}

.pagination {
  float: left;
  }

@mixin min{
  @media (min-width: #{$min-widths}) and (max-width: #{$max-widths- 1px}) {
    @content;
    word-wrap: break-word;
  }
}

@mixin max {
  @media (min-width: #{$max-widths}) {
    @content;
    word-wrap: break-word;
  }
}

@media (min-width:768px) {
  .inline-block-row {
      word-spacing: -1em;
      letter-spacing: -1em;
      overflow:hidden;
  }
  .inline-block-row .col-sm-4 {
      word-spacing: normal;
      vertical-align: top;
      letter-spacing: normal;
      display: inline-block;
      float:none;
  }
}
@media (min-width:992px) {
  .inline-block-row .col-md-3 {
      float:none;
  }
}
