/* bootstrap theming*/
$body-bg: #fff;


/* Custom variables for sass*/
$heading1: #fff;
$crowd-asssemble-logo: rgb(119, 109, 109);
$logo: rgb(247, 242, 242);
$crowd-assemeble-font: "Libre Barcode 39 Text", cursive;
$headings: "Padauk", sans-serif;
$min-widths: 600px;
$max-widths: 800px;
$categories: "Righteous", cursive;
$body-font-size: 1.5em;
$logo-size: 2em;
$general-text: "Ubuntu", sans-serif;
$general-text-color: #859797;